@import "_resetCSS.sass"
@import "_setting.sass"
@import "_components.sass"


.header
	background-image: $main_background
	background-repeat: no-repeat
	background-position: center
	.logo
		height: 100px
		background: rgba(0,0,0,0.75)
		padding: 20px
		a
			height: 80px
		a:hover
			opacity: 0.8

	.description
		margin: 40px 0px 0px 0
		.row
			padding-bottom: 30px
		.dis_wrapper
			background: rgba(0,0,0,0.75)
			margin: 20px 60px 0 0
			width: 100%
			color: white
			.text
				font-size: 13px
		.min_wrapper
			width: 100%
			height: 100%
			margin-bottom: 30px
			background: rgba(0,0,0,0.75)
			color: white
		.info
			.info__wrapper
				background: rgba(0,0,0,0.75)
				height: 145px
				p
					font-size: 16px
					color: white
					padding: 10px 22px
					.big
						font-size: 25px
						font-weight: bold
						padding-top: 10px
					.small
						font-size: 14px
						font-weight: bold
					.very_small
						font-size: 10px
						a
							color: white
						a:hover
							color: $main_color

		a:hover
			opacity: 0.9				
		.down
			background: rgba(0,0,0,0.75)
			height: 100px

.education
	background: #e8e8e8
	padding: 80px
	.education__dis
		margin-top: 40px
	img
		padding-top: 30px
		

.plan
	background: rgba(34,94,161, 0.3)
	padding: 100px
	.plan__dis
		margin-top: 50px
	.plan__icon
		height: 100%
		padding: 20px
		img
			padding-top: 30px	
	.plan__block
		padding-top: 80px
		h2
			padding: 20px
			text-align: left
		li			
			font-size: 14px
		.frame	
			height: 470px		

	.carousel-control-next
		right: -80px
	.carousel-control-prev
		left: -80px	
	.carousel-inner
		width: 90%
		margin: 0 auto				
		
	.carousel-indicators
		bottom: -30px


.who
	background: #e8e8e8
	padding: 100px
	.who__dis
		margin-top: 40px
	.icon__cell
		padding: 15px 30px

.wait
	background: rgba(34,94,161, 0.3)
	padding: 80px
	.wait__icon
		height: 150px
		padding: 20px
		margin-top: 50px
		box-shadow: 0px 0px 50px rgba(0,0,0,0.5);
	.logo
		height: 100px
	a
		display: block
		
	a:hover
		box-shadow: 0px 0px 80px rgba(0,0,0,0.6);
	h2
		margin-top: 15px	

.contact
	background: #e8e8e8
	padding: 100px
	.contact__dis
		margin-top: 50px 
		padding: 10px 20px
		h2
			text-align: left
			padding: 10px 10px 0
			font-size: 21px
		p
			font-size: 16px
			padding: 12px 22px		
	.icon__cell
		padding: 20px
	h2
		text-align: left
		padding-bottom: 20px
	.map
		margin-top: 50px	 

.footer
	background: linear-gradient(90deg, #002542, #005ea6)
	height: 400px
	padding-top: 100px
	text-align: center
	p
		color: white
		font-size: 20px

	a
		color: white

@media (min-width: 992px) and (max-width: 1199.98px)
	.header
		.description
			.info			
				.info__wrapper
					p
						font-size: 14px
						padding: 10px 16px
						.big
							font-size: 22px
		.logo
			padding-right: 40px					

	.plan
		.plan__block
			.frame	
				height: 520px
		.carousel-inner
			width: 100%
		.carousel-control-next
			right: -90px
		.carousel-control-prev
			left: -90px	

	.wait	
		.logo
			height: 80px			

	.footer
		p
			font-size: 16px