@import "_resetCSS.sass"
@import "_setting.sass"
@import "_components.sass"

.header
	background-image: $main_background
	background-repeat: no-repeat
	background-position: center
	height: calc(1000px - 240px)
	
	.logo
		height: 100px
		background: rgba(0,0,0,0.75)
		padding: 20px
		a
			height: 80px
		a:hover
			opacity: 0.8

	.description
		margin: 40px 0px 40px 0
		.row
			padding-bottom: 30px
		.dis_wrapper
			background: rgba(0,0,0,0.75)
			margin: 30px 64px 0 0
			width: 100%
		.min_wrapper
			width: 100%
			height: 100%
			margin-bottom: 30px
			background: rgba(0,0,0,0.75)
		.info
			.info__wrapper
				background: rgba(0,0,0,0.75)
				height: 145px
				p
					font-size: 16px
					color: white
					padding: 10px 22px
					.big
						font-size: 28px
						font-weight: bold
						padding-top: 10px
					.small
						font-size: 19px
						font-weight: bold
					.very_small
						font-size: 13px
		a:hover
			opacity: 0.9				
		.down
			background: rgba(0,0,0,0.75)
			height: 100px

.education
	background: #e8e8e8
	padding: 100px
	.education__dis
		margin-top: 40px
		p
			color: black
	.icon		
