@import "_resetCSS.sass"
@import "_setting.sass"
@import "_components.sass"

.header
	background-image: $main_background
	background-repeat: no-repeat
	background-position: center
	.logo
		height: 100px
		background: rgba(0,0,0,0.75)
		padding: 20px
		a
			height: 80px
		a:hover
			opacity: 0.8

	.description
		margin-top: 40px
		.row
			padding-bottom: 30px
		.dis_wrapper
			background: rgba(0,0,0,0.75)
			margin: 20px 60px 0 0
			width: 100%
			color: white
			.text
				font-size: 13px
		.min_wrapper
			width: 100%
			height: 100%
			margin-bottom: 30px
			background: rgba(0,0,0,0.75)
			color: white
		.info
			.info__wrapper
				background: rgba(0,0,0,0.75)
				height: 145px
				color: white
				display: flex
				flex-direction: column
				padding: 10px 16px
				.big
					font-size: 25px
					font-weight: bold
					position: absolute
					top: 80px
					
				.medium
					font-size: 16px
				.small
					font-size: 14px
					font-weight: bold
					position: absolute
					bottom: 10px
				.very_small
					font-size: 10px
					padding: 0
					a
						color: $main_color
					a:hover
						color: $main_color

		a:hover
			opacity: 0.9				
		.down
			background: rgba(0,0,0,0.75)
			height: 100px
			transition: all ease-in-out 0.2s
			img			
				animation: t-arrow-bottom 2s infinite ease
				width: 96px
				height: 96px

.education
	background: #e8e8e8
	padding: 80px
	.education__dis
		margin-top: 40px
	img
		padding-top: 20px
	.icons
		display: flex
		flex-direction: column
		height: 100%
		justify-content: space-between

	.icon__cell
		width: 100%
		vertical-align: middle
		padding: 10px 10px
		

.plan
	background-image: url(../img/plan_bg.png)
	background-position: center
	padding: 60px 0
	.plan__dis
		margin-top: 30px
		background: #E8E8E8
		.text
			font-size: 15px
	.plan__icon
		height: 100%
		padding: 20px
		background: #E8E8E8
		img
			padding-top: 20px

	.carousel
		margin: 50px 0
		height: 600px
		width: 100%
		border-radius: 2px
		.carousel__plan
			display: flex
			justify-content: space-between
			padding: 15px
		.title
			background: $main_color

		h2
			padding: 20px
			text-align: left
		li			
			font-size: 15px

	.carousel-cell
		width: 72%
		height: 600px
		margin-right: 100px
		background: #E8E8E8
		border-radius: 5px
		counter-increment: gallery-cell

	.flickity-page-dots
		bottom: 15px

.profession
	background: #e8e8e8
	box-shadow: 0px 0px 30px rgba(0,0,0,0.3)
	padding: 50px 0
	.salary
		margin-top: 50px
		background-color: #F9F9F9
		box-shadow: 0px 0px 10px rgba(0,0,0,0.3)
		h2
			text-transform: uppercase
			margin: 40px 0
			font-size: 32px
	.uppercase
		margin: 40px 0

	.title
		width: 100%
		margin: 50px 0

	.profession__info
		display: flex
		flex-direction: column
		align-content: baseline
		padding: 10px
		height: 340px
		margin-bottom: 50px
		.text
			font-size: 17px
		h2
			font-size: 20px
		i
			font-size: 26px

.who
	background: #e8e8e8
	padding: 20px 0 60px 0
	.who__dis
		margin-top: 40px
	.icon__cell
		padding: 15px 15px
	.uppercase
		margin: 40px 0
	.who__icon
		margin-bottom: 20px
		padding: 10px
		min-height: 120px
		.icon
			font-size: 30px
		h2
			font-size: 21px
			text-align: left

.vacancy
	box-shadow: 0px 0px 30px rgba(0,0,0,0.3)
	padding: 80px 0
	background: #F9F9F9
	#mar
		margin: 70px 0
	#chart_div
		margin: 0 auto
		width: 100%
	#columnchart_material
		margin: 40px auto
		width: 90%
	.text
		text-align: right
		color: rgba(90, 90, 90, 0.8)
.wait
	background-image: url(../img/work_bg.png)
	background-position: left
	padding: 80px 0
	box-shadow: 0px 0px 30px rgba(0,0,0,0.3)
	.carousel
		margin: 50px 0
	.flickity-page-dots .dot
		width: 12px
		height: 12px
		opacity: 0.8
		background: transparent
		border: 2px solid white
	.flickity-page-dots .dot.is-selected
		background: #F9F9F9
	.wait__icon
		height: 230px
		width: 400px
		margin: 50px 20px
		vertical-align: middle
		box-shadow: 0px 0px 50px rgba(0,0,0,0.7)

	.logo
		height: 100px
	a
		display: flex
		flex-direction: column
		justify-content: space-around
		width: 100%
		height: 100%
	a:hover
		box-shadow: 0px 0px 80px rgba(0,0,0,0.6)
		text-decoration: none

.contact
	background: #e8e8e8
	box-shadow: 0px 0px 30px rgba(0,0,0,0.3)
	padding: 100px
	.contact__dis
		margin-top: 50px 
		padding: 10px 20px
		h2
			text-align: left
			padding: 10px 10px 0
			font-size: 21px
		p
			font-size: 16px
			padding: 12px 22px

	.contact__icons
		display: flex
		flex-direction: column
		justify-content: space-between
		height: 100%
		.icon__cell
			padding: 40px
	h2
		text-align: left
		padding-bottom: 20px
	.map
		margin-top: 50px	 

.footer
	background: linear-gradient(90deg, #002542, #005ea6)
	box-shadow: 0px 0px 30px rgba(0,0,0,0.3)
	height: 400px
	padding-top: 100px
	text-align: center
	p
		color: white
		font-size: 16px

	a
		color: white

@import "_adaptive.sass"

	
